body{background-color: midnightblue;}

h1 {color: #5F7E82; 
font-family: Garamond;
font-size: 16px;
text-align: center ;
width: 300px;
margin: auto;}

p{color:orchid;}

a { font-family:  ;color: lightseagreen; }
}
  
<a href=""></a>